<%= form_with(model: movie) do |form| %>
  <% if movie.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <td>
          <%= form.label :title, style: "display: block" %>
          <%= form.text_field :title %>
        </td>
        <td>
          <%= form.label :rating, style: "display: block" %>
          <%= form.text_field :rating %>
        </td>
        <td>
          <%= form.label :release_date, style: "display: block" %>
          <%= form.text_field :release_date %>
        </td>
        <td>
          <div>
            <%= form.submit class: 'btn' %>
          </div>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
      </tr>
    </tfoot>
  </table>
<% end %>
