<p style="color: green"><%= notice %></p>

<% content_for :title, "Movies" %>

<h1>Movies</h1>

<div id="movies">
  <table>
    <thead>
      <tr>
        <th class="<%= sort_column == 'title' ? 'active_column_' + sort_direction : 'list_header' %>"><%= sort_link "title" %></th>
        <th class="<%= sort_column == 'rating' ? 'active_column_' + sort_direction : 'list_header' %>"><%= sort_link "rating" %></th>
        <th class="<%= sort_column == 'release_date' ? 'active_column_' + sort_direction : 'list_header' %>"><%= sort_link "release_date", "Release Date" %></th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <%= render movie %>
      <% end %>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="4"><%= link_to "New movie", new_movie_path, class: "btn" %></td>
      </tr>
    </tfoot>
  </table>
</div>